body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* custom styles for button 1 */
.btn-1{
    letter-spacing: 0.1em;
    border: 2px solid #de33e0;
    color: #de33e0;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.btn-1:hover {
    background-color: #de33e0;
    color: #fff;
    box-shadow: 0 0 5px #de33e0,
                 0 0 25px  #de33e0,
                 0 0 50px #de33e0,
                 0 0 200px #de33e0;
}

@keyframes glow { 
    0% {
        box-shadow: 0 0 10px #de33e0,
                    0 0 20px #de33e0,
                    0 0 30px #de33e0,
                    0 0 40px #de33e0;
}
    50% {
        box-shadow: 0 0 5px #de33e0,
                    0 0 15px #de33e0,
                    0 0 25px #de33e0,
                    0 0 35px #de33e0;
            }
     100% {
        box-shadow: 0 0 10px #de33e0,
                    0 0 20px #de33e0,
                    0 0 30px #de33e0,
                    0 0 40px #de33e0;
}
     }       


/* Custom styles for button 2*/
.btn-2 {

position: relative;
width: 130px;
height: 40px;
background-color: #fff;
color: rgba(228, 162, 248, 0.826);
border: 2px solid rgba(228, 162, 248, 0.826);
overflow: hidden;
}

.btn-2::before, .btn-2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(228, 162, 248, 0.826);
    animation: slide 4s linear infinite;
    border-radius: 10PX;

}

.btn-2::before {
    top: -2PX;
    left: -2PX;
    animation-delay: 0S;
}

.btn-2::after{
    bottom: -2px;
    right: -2px;
    animation-delay: 2s;

}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateY(100%);
    }
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateY(0%)
    }
}

/* Custom styles for button 3*/
.btn-3 {
    background-color: plum;
    line-height: 42px;
    padding: 0%;
    border: none;
    position: relative;
    display: block;
    width: 130px;
    height: 40px;;
    color: #fff;
}

.btn-3::before,.btn-3::after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1PX;
    box-shadow: 
        -1px -1px 20px 0px #fff,
        -4px -4px 5px 0px #fff, 
        7px 7px 20px 0px #000,
        4PX 4PX 5PX 0PX #000;

}

.btn-3::before { 
    right: 0%;
    top: 0%;
    transition: all 500ms ease;
}

.btn-3::after {
    left: 0%;
    bottom: 0%;
    transition: all 500ms ease;
}

.btn-3:hover {
    background: transparent;
    color: plum;
    box-shadow: none;
}

.btn-3:hover::before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-3:hover::after {
    transition: all 500ms ease;
    height: 100%;
}